*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  background-color: dodgerblue;
  width: 100%;
  height: 100vh;
}

#mainBox{
  display: flex;
}


#sidebar{
  width: 250px;
  height: 100vh;
  background-color: rgb(251, 251, 251);
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


#sidebarBox{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


#sidebarLink{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}


#sidebarLink ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebarLink ul label{
  font-family: Calibri;
  color: #000000;
  padding-left: 20px;
}

#sidebarLink ul li{
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Calibri;
  color: #515151;
  padding: 6px 12px;
  padding-left: 35px;
}


#sidebarLink ul li:hover{
   background-color: #efefef;
   border-left: 5px solid #6D85FF;
   width: 100%;
   color: rgb(34, 34, 34);
   transition: 0.3s;
   cursor: pointer;
   display: flex;
}



#homePage{
  display: flex;
  flex: 1;
  width: 100%;
  background-color: rgb(65, 225, 78);
  height: 100vh;
}




nav{
   width: 100%;
   height: 40px;
}


#searchBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#searchBox input{
  width: 100%;
  border: none;
  outline: none;
}


#mic{
  background-color: white;
  border: none;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1rem;
  color: #6c6c6c;
}

#search{
  background-color: white;
  border: none;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 1rem;
  color: #6c6c6c;
}

#homeMainSidebar{
  width: 280px;
  height: 100%;
  background-color: rgb(89, 226, 226);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#homeMainContent{
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(238, 238, 238);
}


header{
  width: 100%;
  background-color: #6d85ff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  
}

#headerBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 12px;
}



#textContent h2{
    font-family: Calibri;
    color: #ffff;
}

#textContent p{
  font-family: Calibri;
  color: #4b4b4b;
}

section{
  width: 100%;
  display: flex;
  flex: 1;
  background-color: blueviolet;
}


#topSidebar{
  width: 100%;
  height: 220px;
  background-color: rgb(111, 161, 255);
}

#bottomSidebar{
  width: 100%;
  display: flex;
  flex: 1;
  background-color: darkcyan;
}

@media(max-width: 768px){
  #sidebar{
    display: none;
  }

  #homeMainSidebar{
    display: none;
  }

  #headerBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
  }

  #textContent{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}